mixin textField (placeholder, id, label, contentType, condition)
    div(class= 'textField__container')
        if label
            div(class='textField__labelsContainer')
                label(for= 'textField-' + `${id}`)
                    h3= label
                label(class='textField__conditionLabel')
                    h3(class='textField__conditionLabel')= condition
        input(type= contentType class= 'textField__input' placeholder= placeholder id= 'textField-' + `${id}`)
