@import '../../buttons/rateButton/rateButton.scss';

.roomPreview__container {
    width: 270px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(61, 56, 56, 0.2);
    border-radius: 4px;
}

.roomPreview__photoSliderContainer {
    position: relative;
    width: 100%;
    height: 151px;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
}

.roomPreview__slidesContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: lightsteelblue;
}

.roomPreview__sliderRadioSwitcherContainer{
    width: 100%;
    height: 100%;
}

.roomPreview__photoSliderContainer input {
     display: none;
}

.roomPreview__photo{
     width: 270px;
     height: 100%;
 }

.roomPreview__sliderRadioLabelContainer {
    margin-left: 214px;
    margin-top: 128px;
    width: 42px;
    height: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    cursor: pointer;
     
}

.roomPreview__sliderRadioLabel {
    width: 7.5px;
    height: 7.5px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    z-index: 6;
    cursor: pointer;  
}

.roomPreview__sliderArrowSwitchersContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% + 2px);
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: opacity 0.4s;
    &:hover {
        opacity: 1; 
        transform: opacity 0.4s;
    }
}

.roomPreview__sliderArrowPrevSwitcher{
    height: 100%;
    width: 42px;
    display: flex;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transform: background 0.4s;
    
}
.roomPreview__sliderArrowNextSwitcher {
    height: 100%;
    width: 42px;
    display: flex;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: background 0.4s;
}

.roomPreview__prevArrowSwitcherLabel{
    width: 100%;
    height: 100%;
    display: none;
    background: transparent;
    cursor: pointer; 
    &::before {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        content: 'expand_more';
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
        transform: rotate(90deg);
        margin-top: 53px;
    }
}

.roomPreview__nextArrowSwitcherLabel {
    width: 100%;
    height: 100%;
    display: none;
    background: transparent;
    cursor: pointer;
    &::after {
        width: 44px;
        height: 44px;
        content: 'expand_more';
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        transform: rotate(-270deg);
        margin-top: 53px;
    }
}





// 
//
//  slider animation

.roomPreview__photoSliderContainer input:nth-of-type(1):checked ~ .roomPreview__slidesContainer {
    transform: translateX(0px);
    transition: transform 0.4s;
}
.roomPreview__photoSliderContainer input:nth-of-type(2):checked ~ .roomPreview__slidesContainer {
    transform: translateX(-270px);
    transition: transform 0.4s;
}
.roomPreview__photoSliderContainer input:nth-of-type(3):checked ~ .roomPreview__slidesContainer {
    transform: translateX(-540px);
    transition: transform 0.4s;
} 
.roomPreview__photoSliderContainer input:nth-of-type(4):checked ~ .roomPreview__slidesContainer {
    transform: translateX(-810px);
    transition: transform 0.4s;
}

// 

.roomPreview__photoSliderContainer input:nth-of-type(1):checked ~ .roomPreview__sliderRadioLabelContainer label:nth-of-type(1),
.roomPreview__photoSliderContainer input:nth-of-type(2):checked ~ .roomPreview__sliderRadioLabelContainer label:nth-of-type(2),
.roomPreview__photoSliderContainer input:nth-of-type(3):checked ~ .roomPreview__sliderRadioLabelContainer label:nth-of-type(3),
.roomPreview__photoSliderContainer input:nth-of-type(4):checked ~ .roomPreview__sliderRadioLabelContainer label:nth-of-type(4) {
    background: #FFFFFF;
}

// 

.roomPreview__photoSliderContainer input:nth-of-type(1):checked ~ .roomPreview__sliderArrowSwitchersContainer .roomPreview__sliderArrowNextSwitcher label:nth-of-type(2),
.roomPreview__photoSliderContainer input:nth-of-type(2):checked ~ .roomPreview__sliderArrowSwitchersContainer .roomPreview__sliderArrowNextSwitcher label:nth-of-type(3),
.roomPreview__photoSliderContainer input:nth-of-type(3):checked ~ .roomPreview__sliderArrowSwitchersContainer .roomPreview__sliderArrowNextSwitcher label:nth-of-type(4),
.roomPreview__photoSliderContainer input:nth-of-type(4):checked ~ .roomPreview__sliderArrowSwitchersContainer .roomPreview__sliderArrowNextSwitcher label:nth-of-type(1) {
    display: block;
}

// 

.roomPreview__photoSliderContainer input:nth-of-type(1):checked ~ .roomPreview__sliderArrowSwitchersContainer .roomPreview__sliderArrowPrevSwitcher label:nth-of-type(4),
.roomPreview__photoSliderContainer input:nth-of-type(2):checked ~ .roomPreview__sliderArrowSwitchersContainer .roomPreview__sliderArrowPrevSwitcher label:nth-of-type(1),
.roomPreview__photoSliderContainer input:nth-of-type(3):checked ~ .roomPreview__sliderArrowSwitchersContainer .roomPreview__sliderArrowPrevSwitcher label:nth-of-type(2),
.roomPreview__photoSliderContainer input:nth-of-type(4):checked ~ .roomPreview__sliderArrowSwitchersContainer .roomPreview__sliderArrowPrevSwitcher label:nth-of-type(3) {
    display: block;
}

// 
//
// 

.roomPreview__headerArea{
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
    max-width: 100%;
    margin: 20px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);  
}
.roomPreview__roomNumberLabels {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.roomPreview__headerText span {
    font-size: 14px;
}
.roomPreview__roomNumberLux {
    line-height: 100%;
    vertical-align: bottom;
    margin-left: 5px;
    font-size: 12px;
    color: #BC9CFF;
}
.roomPreview__priceText {
    color: rgba(31, 32, 65, 0.5);
    font-size: 12px;
}
.roomPreview__priceText span {
    font-weight: bold;
    font-size: 14px;
}

.roomPreview__ratingInfoContainer{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 20px;
}

.roomPreview__reviewNumber {
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px;
}
.roomPreview__reviewNumber span {
    font-weight: bold;
    font-size: 14px;
}



