.regularButton_short_white__container {
    height: 44px;
    max-width: 99px;
    width: 100%;

    background: linear-gradient(180deg, rgb(188, 156, 255) 0%, #8BA4F9 100%);
    border-radius: 22px;
    &:hover {
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }
}
.regularButton_short_white__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 22px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.regularButton_short_white__text {
    text-transform: uppercase;
    color: #BC9CFF;
    margin-right: 1.125rem;
    margin-left: 1.125rem;
    white-space: nowrap;
}
