mixin roomFeature (icon, name, text)
    div(class='roomFeature__container' name= icon)
        div(class='roomFeature__textContainer' )
            p(class='roomFeature__featureName')= name
            p(class='roomFeature__featureDescr')= text