mixin footerWithLogo 
    footer(class='footerWithLogo__container')
        img(class='footerWithLogo__logoImg' src="/assets/img/Logo.svg" alt="logo")
        p(class='footerWithLogo__text') Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. 
        div(class='footerWithLogo__socialButtonsContainer')
                a(class='footerWithLogo__socialLink' href='#')
                    i(class="footerWithLogo__socialIcon fab fa-twitter")
                a(class='footerWithLogo__socialLink' href='#')
                    i(class="footerWithLogo__socialIcon fab fa-facebook-square")
                a(class='footerWithLogo__socialLink' href='#')
                    i(class="footerWithLogo__socialIcon fab fa-instagram")