.radioButton__container {
    display: flex;
    align-content: center;
    // width: 100%;
}
.radioButton__input {
    display: none;
}
.radioButton__label {
    height: 1.25rem;
    display: flex;
    justify-content: start;
    align-items: center;

    color: rgba(31, 32, 65, 0.5);

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-right: 10px;
        border: 1px solid rgba(31, 32, 65, 0.25);
    }
}
.radioButton__input:checked + .radioButton__label {
    position: relative;
    color: rgba(31, 32, 65, 0.75);
    &::before {
        border-color: #BC9CFF;   
    }
    &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
}
.radioButton__labelText {
    color: inherit;
}




