.checkbox__container {
    display: flex;
    align-content: center;
}
.checkbox__input {
    display: none;
}
.checkbox__label {
    
    width: 100%;
    display: flex;
    justify-content: start;
    max-height: 20px;

    color: rgba(31, 32, 65, 0.5);

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
    }
}
.checkbox__input:checked + .checkbox__label {
    position: relative;
    &::before {
        border-color: #BC9CFF;   
    }
    &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 7px;
        width: 6px;
        height: 8px;
        border: 2px solid transparent;
        border-left: none;
        border-top: none;
        border-image: linear-gradient(to bottom, #BC9CFF 0%, #8BA4F9 100%);
        border-image-slice: 1; 
        transform: rotate(45deg);
    }
}
.checkbox__labelText {
    max-width: 192px;
    line-height: 18px;
    color: inherit;
}