@import '../../buttons/regularButton/regularButton.scss';
@import '../../inputs/dropdown/dropdown.scss';
@import '../../inputs/dateDropdown/dateDropdown.scss';

.roomReservation__container {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(61, 56, 56, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px;
}
.roomReservation__headerArea {
    display: flex; 
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}
.roomReservation__roomNumberLabels {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.roomReservation__headerText span {
    font-size: 14px;
}
.roomReservation__roomNumberLux {
    line-height: 100%;
    vertical-align: bottom;
    margin-left: 5px;
    font-size: 12px;
    color: #BC9CFF;
}

.roomReservation__priceText {
    color: rgba(31, 32, 65, 0.5);
    font-size: 12px;
}
.roomReservation__priceText span {
    font-weight: bold;
    font-size: 14px;
}
.roomReservation__dateDropdownsContainer {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    height: 65px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.roomReservation__dropdownContainer{
    width: 100%;
    height: 64px;
    margin-bottom: 22px;
}
.roomReservation__totalPriceCalculation {
    margin-bottom: 21px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.roomReservation__pricePoint {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 17px;
}
.roomReservation__pricePoint p {
    color: rgba(31, 32, 65, 0.75);
}
.roomReservation__pricePoint p:first-child {
    width: 67.2110552764%; //214px/318.4px
    max-width: 214px;
    vertical-align: middle;
}
.roomReservation__serviceFeePrice {
    white-space: nowrap;
}


.roomReservation__totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 14px;
    height: 24px;
}
.roomReservation__separateLine {
    width: 100%;
    height: calc(100% - 10px);
    margin-right: 5px;
    margin-left: 5px;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25); 
}
.roomReservation__totalPriceSumText{
    height: 100%;
}
.roomReservation__totalPriceSumNumber{
    height: 100%;
    white-space: nowrap;
}

.roomReservation__pricePointHint{
    &::after {
        content: 'i';
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
        position: absolute;
        top: -1px;
        right: 79px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.25);
    }
}