include ../../inputs/dateDropdown/dateDropdown.pug
include ../../inputs/dropdown/dropdown.pug
include ../../buttons/regularButton/regularButton.pug
mixin roomSearch (id, href)
    div(class='roomSearch__container')
        h1(class='roomSearch__header') Найдём номера под #[br] ваши пожелания
        div(class='roomSearch__dateDropdownsContainer')
            +dateDropdown('прибытие', 'roomSearch__dateDropdown-arrival-' + id)
            +dateDropdown('выезд', 'roomSearch__dateDropdown-leaving-' + id)
        div(class='roomSearch__dropdownContainer')
            +dropdown('Сколько гостей', 'roomSearch__dropdown-' + id, false, 'гости', '', 'Взрослые', 'Дети', 'Младенцы')
        div(class='roomSearch__regularButtonContainer')
            +regularButton('подобрать номер', 'roomSearch__regularButton-' + id, href, false, false)
        