@font-face {
  font-family: "BeerMoney";
  src: url('/assets/fonts/BeerMoney/BeerMoney.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/BeerMoney/BeerMoney.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/BeerMoney/BeerMoney.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/BeerMoney/BeerMoney.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/BeerMoney/BeerMoney.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
	font-style: normal;
  }

@font-face {
  font-family: "Montserrat";
  src: url('/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.svg') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url('/assets/fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Quicksand";
  src: url('/assets/fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.svg') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: normal; 
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('MaterialIcons'),
    local('MaterialIcons'),
    url('/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2'),
    url('/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
    url('/assets/fonts/MaterialIcons/MaterialIcons-Regular.svg') format('svg'),
    url('/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
}
