.dropdown_short.dropdown__container {
    height: 64px;
    width: 268px;
}

.dropdown_short.dropdown__lablesContainer {
    margin-bottom: 5px;
    width: 100%;
}

.dropdown_short.dropdown__headerContainer {
    height: 164px;
    width: 100%;
}

.dropdown_short.dropdown__listContainer {     
    height: 119px;
    width: 100%;
}

.dropdown_short.dropdown__listItem {
    &:last-child {
        margin-bottom: 7px;
        width: 100%;
    }
}
.dropdown_short.dropdown__textContainer {
    height: 24px;
    width: 160px;
    display: flex;
    vertical-align: middle;
    margin-top: 6px;
}
.dropdown_short.dropdown__text{
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; 
}

