.pieDiagram__container {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    width: 120px;
    height: 120px;
    position: relative;
}
.pieDiagram__circleContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
}
.pieDiagram__pieDiagramCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 120%;
    height: 120%;
}
.pieDiagram__pieDiagramCircleInner{
    transition: display 0.4s;
}

.pieDiagram__pieDiagramCircle:hover + .pieDiagram__pieDiagramCircleInner, .pieDiagram__pieDiagramCircleInner:hover {
    display: none;
    transition: display 0.4s;

}
.pieDiagram__text_excellent {
    fill: #FFBA9C;
}
.pieDiagram__text_good {
    fill: #66D2EA;
}

.pieDiagram__text_normal {
    fill: #BC9CFF;
}

.pieDiagram__text {
    display: none;
    height: 45px;
    width: 64px;
    font-size: 24px;
}

.pieDiagram__number{
    font: normal 8px Quicksand;
    fill: inherit;
    text-anchor: middle;
    transform: translateY(-0.25em);
    font-weight: bold;
    margin-top: 5px;
}

.pieDiagram__label{
    font: normal 5px Montserrat;
    fill: inherit;
    text-anchor: middle;
    transform: translateY(0.7em);
}

.pieDiagram__pieDiagramCircle:hover + .pieDiagram__pieDiagramCircleInner + .pieDiagram__text, .pieDiagram__pieDiagramCircleInner:hover + .pieDiagram__text {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
} 


