mixin pieDiagram (excellent, good, normal, disappointed)
    -var roundLength = 2 * 60 * Math.PI

    -var sum = Number(excellent) + Number(good) + Number(normal) + Number(disappointed)
    if (sum != 0)
        -var excellentDash = ((roundLength * excellent) / sum)
        -var excellentDash1 = excellentDash - 8
        -var excellentDashempty = roundLength - excellentDash + 2 

        -var goodDash = (roundLength * good) / sum
        -var goodDash1 = goodDash - 8
        -var goodDashempty = roundLength - goodDash + 2

        -var normalDash = (roundLength * normal) / sum
        -var normalDash1 = normalDash - 8
        -var normalDashempty = roundLength - normalDash + 2

        -var disappointedDash = (roundLength * disappointed) / sum
        -var disappointedDash1 = disappointedDash - 8
        -var disappointedDashempty = roundLength - disappointedDash + 2


    //- p= roundLength
    //- p= sum 
    //- p= excellentDash
    //- p= excellentDashempty

    div(class='pieDiagram__container')
        svg(clss='pieDiagram__diagramBody' viewBox='0 0 120px 120px')

            linearGradient(id='pieDiagram__gradient_excellent')
                stop(offset="0%" stop-color="#FFE39C")
                stop(offset="100%" stop-color="#FFBA9C")

            linearGradient(id='pieDiagram__gradient_good')
                stop(offset="0%" stop-color="#6FCF97")
                stop(offset="100%" stop-color="#66D2EA")
            
            linearGradient(id='pieDiagram__gradient_normal')
                stop(offset="0%" stop-color="#BC9CFF")
                stop(offset="100%" stop-color="#8BA4F9")

            linearGradient(id='pieDiagram__gradient_disappointed')
                stop(offset="0%" stop-color="#919191")
                stop(offset="100%" stop-color="#3D4975")

            div(class='pieDiagram__circleContainer')
                svg(clss='pieDiagram__diagramBody' viewBox='0 0 120px 120px')
                    circle(class='pieDiagram__pieDiagramCircle pieDiagram__pieDiagramCircle_excellent' cx="60" cy="60" r="45"  fill="none" stroke="url(#pieDiagram__gradient_excellent)" stroke-width="15px" stroke-dasharray= excellentDash1 + ' ' + excellentDashempty stroke-dashoffset='-35' )
            div(class='pieDiagram__circleContainer')
                svg(clss='pieDiagram__diagramBody' viewBox='0 0 120px 120px')
                    circle(class='pieDiagram__pieDiagramCircle pieDiagram__pieDiagramCircle_good' cx="60" cy="60" r="45" fill="none" stroke='url(#pieDiagram__gradient_good)' stroke-width= '15px' stroke-dasharray= goodDash1 + ' ' + goodDashempty stroke-dashoffset='5')
            div(class='pieDiagram__circleContainer')
                svg(clss='pieDiagram__diagramBody' viewBox='0 0 120px 120px')
                    circle(class='pieDiagram__pieDiagramCircle pieDiagram__pieDiagramCircle_normal' cx="60" cy="60" r="45" fill="none" stroke='url(#pieDiagram__gradient_normal)' stroke-width= '15px' stroke-dasharray= normalDash1 + ' ' + normalDashempty stroke-dashoffset='90')
            //- circle(class='pieDiagram__pieDiagramCircle_disappointed' cx="60" cy="60" r="55" fill="none" stroke='url(#pieDiagram__gradient_disappointed)' stroke-width= '5px' stroke-dasharray= disappointedDash1 + ' ' + disappointedDashempty stroke-dashoffset= '-75')