.richCheckbox__container {
    display: flex;
    align-content: center;
}
.richCheckbox__input {
    display: none;
}
.richCheckbox__label {
    
    width: 100%;
    display: flex;
    max-height: 20px;

    color: rgba(31, 32, 65, 0.5);

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
    }
}
.richCheckbox__input:checked + .richCheckbox__label {
    position: relative;
    &::before {
        border-color: #BC9CFF;   
    }
    &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 7px;
        width: 6px;
        height: 8px;
        border: 2px solid transparent;
        border-left: none;
        border-top: none;
        border-image: linear-gradient(to bottom, #BC9CFF 0%, #8BA4F9 100%);
        border-image-slice: 1; 
        transform: rotate(45deg);
    }
}

.richCheckbox__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: calc(100% - 30px);
    //width: 100%;
}
.richCheckbox__labelText {
    max-width: calc(100% - 30px);
    line-height: 18px;
    vertical-align: middle;
    color: rgba(31, 32, 65, 0.75);
    font-weight: bold;
    margin-bottom: 5px;
}
.richCheckbox__additionalText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
}