@import '../../inputs/textFieldSubscription/textFieldSubscription.scss';

.footerWithNav__container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    z-index: 50;
}
.footerWithNav__mainContentContainer {
    width: 100%;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footerWithNav__navContainer {
    max-width: 1440px;
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 6.9% 9.72222222222% 5.5%; 
}
.footerWithNav__logoContainer {
    margin-right: 40px;
}

.footerWithNav__logoImg {
    width: 106px;
    height: 40px;
    margin-bottom: 17px;

}
.footerWithNav__logoText {
    width: 260px;
    line-height: 24px;
    font-size: 14px;
    vertical-align: middle;
}

.footerWithNav__mainNavList {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.footerWithNav__mainNavListItem {
    font-size: 12px;
}
.footerWithNav_navigationContainer {
    display: flex;
    width: calc(100% - 300px);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.footerWithNav__navSectionList{
    padding-top: 4px;

}
.footerWithNav__navSectionListItem {
    color: rgba(31, 32, 65, 0.5);
    margin-bottom: 21px;
    &:first-child .footerWithNav__navSectionListItemText {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        color: #1F2041;
        margin-bottom: 21px;
    }
    &:last-child {
        margin-bottom: none;
    }
}
.footerWithNav__navSectionListItemText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 17px;
    font-size: 14px;
    color: inherit; 
    white-space: nowrap;
}
.footerWithNav__subscriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4px;
}
.footerWithNav__textFieldSubscriptionContainer .textFieldSubscription__container {
    width: 260px;
}
.footerWithNav__subscriptionFieldHeader {
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 15px;
}
.footerWithNav__subscriptionText {
    display: flex;
    width: 245px;
    word-wrap: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    color: rgba(31, 32, 65, 0.75);
}
.footerWithNav__copyrightContainer {
    width: 100%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: 1px solid #E5E5E5;
}

.footerWithNav__copyrightContainerWrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 9.72222222222%;
}
.footerWithNav__socialButtonsContainer {
    display: flex;
    height: 70px;
    align-items: center;
}

.footerWithNav__socialLink {
    margin-left: 20.5px;
    
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    
    &:first-child {
        margin-left: none;
    }
}

.footerWithNav__socialIcon {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 24px;
    line-height: 23px;
    color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}


//----------------------//
//----MEDIA-ЗАПРОСЫ-----//
//----------------------//


@media (max-width: 1350px) {
    .footerWithNav__navContainer {
        flex-direction: column;
        align-items: center;
    }
    .footerWithNav_navigationContainer {
        width: 100%;
    }
    .footerWithNav__logoContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 37px;
        margin-right: 0px;
    }
    .footerWithNav__logoImg {
        margin-right: 25px;
        margin-bottom: 0px;
    }
    .footerWithNav__logoText {
        display: inline-flex;
    }
}

@media (max-width: 1000px) {
    .footerWithNav_navigationContainer, .footerWithNav__mainNavList {
        flex-wrap: wrap;
    }
    .footerWithNav__mainNavList {
        justify-content: space-around;
    }
    .footerWithNav__mainNavListItem {
        flex: 1 0 33%;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 780px) {
    .footerWithNav__copyrightText {
        display: inline-flex;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
    }
    .footerWithNav__socialButtonsContainer {
        width: 100px;
        margin-left: 20px;
        justify-content: center;
    }
    .footerWithNav__socialLink:first-of-type {
        margin-left: 0px;
    }
    .footerWithNav__copyrightContainerWrapper {
        padding: 0px 10px;
    }
}

@media (max-width: 559px) {
    .footerWithNav__logoContainer {
        flex-direction: column;
        align-items: center;
    }
    .footerWithNav__logoImg {
        margin-bottom: 10px;
    }
    .footerWithNav__logoText {
        text-align: center;
    }
    .footerWithNav__mainNavListItem {
        flex: 1 0 100%;
        justify-content: center;
        text-align: center;
        &:last-of-type {
            padding-left: 0%;
        }
    }
    .footerWithNav__subscriptionContainer {
        align-items: center;
    }
    .footerWithNav__subscriptionText {
        text-align: center;
    }
}


