@import '../../inputs/textField/textField.scss';
@import '../../inputs/textFieldMasked/textFieldMasked.scss';
@import '../../buttons/radioButton/radioButton.scss';
@import '../../buttons/toggle/toggle.scss';
@import '../../buttons/regularButton/regularButton.scss';

.registrationCard__container {
    max-width: 380px;
    min-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 39px 29px 29px;

    .textField__container {
        margin-bottom: 10px;
    }

    .textField__container:first-of-type {
        margin-top: 21px;
    }

    .textFieldMasked__container {
        margin-bottom: 17px;
    }
}

.registrationCard__header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

// .registrationCard__personalDataContainer {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     margin-bottom: 10px;
// }

// .registrationCard__textFieldContainer {
//     margin-bottom: 10px;
//     &:first-child{
//         margin-bottom: 5px;
//     }        
// }

.registrationCard__genderRadiobuttonContainer {
    max-width: 69.0625%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

// .registrationCard__birthDateContainer {
//     margin: 14.5px 0px 20px;
// }


.registrationCard__buttonsContainer {
    margin-top: 24px;
}

// .registrationCard__buttonsContainer .regularButton__container {
//     margin-top: 3px;
// }
.registrationCard__entryButtonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.registrationCard__additionalText {
    color: #000000;
    width: 58.4905660377%;
}
.registrationCard__entryRegularButtonContainer {
    width: 31.1320754717%;
    max-width: 99px;
}

@media (max-width: 420px) {
    .registrationCard__genderRadiobuttonContainer{
        max-width: 100%;
        justify-content: space-between;
    }
}


