mixin rangeSlider (id)
    div(class='rangeSlider__container')
        div(class='rangeSlider__label' id= 'rangeSlider__label-' + id) 
            p(class='rangeSlider__labelText') #[span(class='rangeSlider__lowNumberText') 5000]₽ - #[span(class='rangeSlider__hightNumberText') 10000]₽
        div(class='rangeSlider__slider' id= id)
    
    