mixin rateButton (name, rate)
    div(class='rateButton__container')
        -for (var i = 5; i >= 1; i--)
            if i == rate
                input(checked readonly type='radio' class='rateButton__scaleSelect' name= name value= i id= 'rateButton-' + `${name}` + '-' + i)
            else
                input(type='radio' readonly class='rateButton__scaleSelect' name= name value= i id= 'rateButton-' + `${name}` + '-' + i)
            label(class='rateButton__symbol' for='rateButton-' + `${name}` + '-' + i)
            
        