@font-face {
    font-family: "BeerMoney";
    src: url('/assets/fonts/BeerMoney/BeerMoney.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/BeerMoney/BeerMoney.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/BeerMoney/BeerMoney.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/BeerMoney/BeerMoney.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/BeerMoney/BeerMoney.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
	font-style: normal;
  }