mixin dateDropdown (name, id)       
    div(class= 'dateDropdown__container')
        div(class='dateDropdown__labelsContainer' )
            h3(class='dateDropdown__nameText' )= name
        label(for='dateDropdown-' + `${id}` class='dateDropdown__label')
            input(type='text' placeholder='ДД.ММ.ГГГГ' class="dateDropdown__input" pattern= '[0-3]{1}[0-9]{1}.[0-1]{1}[0-9]{1}.[0-2]{1}[0-9]{3}' id='dateDropdown-' + `${id}`)
