.textFieldMasked__container {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    max-width: 320px;
    width: 100%;
    height: 67px;
}

.textFieldMasked__labelsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.textFieldMasked__input {
    // width: 320px;
    width: 100%;
    height: 44px;
    padding-left: 15px;

    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;

    color: rgba(31, 32, 65, 0.75);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    

    &::placeholder {
        color: rgba(31, 32, 65, 0.25);
        text-transform: uppercase;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
    }

    &:hover, &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
}

.textFieldMasked__conditionLabel {
    color: rgba(31, 32, 65, 0.5);
    font-weight: normal;
}