@import './regularButton_short/regularButton_short.scss';
@import './regularButton_short_white/regularButton_short_white.scss';

.regularButton__container {
    width: 320px;
    height: 44px;
    position: relative;
    color: #FFFFFF;
    &::after {
        width: 44px;
        right: 0px;
        position: absolute;
        top: 8px;
        font-family: 'Material Icons';
        content: 'arrow_forward';
        text-align: center;
        font-size: 24px;
        cursor: pointer;
    }
    &:hover {
        opacity: 0.5;
    }
}
.regularButton__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    
}
.regularButton__text {
    text-transform: uppercase;
    color: #FFFFFF;
}
