.landingPage__main {
    position: relative;
    width: 100%;
    // height: 830px;
    background-color: #FFFFFF;
    background: url('/assets/img/image3.jpg') no-repeat top center;
    background-size: 100% 100%;
    
}
.landingPage__container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 70px 9.72222222222% 386px;//0px 140px;
    
}
.landingPage__roomSearchContainer {
    // margin: 70px 0px 386px;
    // width: 26.3888888889%;
    width: 100%;
    max-width: 380px;
}

.landingPage__text{
    display: inline-block;
    position: absolute;
    width: 297px;
    right: 135px;
    bottom: 22px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
}


//----------------------//
//----MEDIA-ЗАПРОСЫ-----//
//----------------------//


@media (max-width: 1440px) {
    .landingPage__main {
        background-size: cover;
    }
}

@media (max-width: 660px) {
    .landingPage__container{
        width: 100%;
        margin: 0 0;
        display: flex;
        justify-content: center;
        padding: 70px 2% 386px;
    }
}

@media (max-width: 550px) {
    .landingPage__roomSearchContainer {
        justify-content: center;
    }
    .landingPage__text {
        width: 54%;
        right: 21.2121212121%;
    }

}
