.landingPage__main {
    position: relative;
    max-width: 1920px;
    width: 100%;
    background-color: #FFFFFF;
    background: url('/assets/img/image3.jpeg') no-repeat center 100%;
    background-size: cover;
}
.landingPage__container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 70px 9.72222222222% 386px; //0px 140px;
}
.landingPage__roomSearchContainer {
    width: 100%;
    max-width: 380px;
}

.landingPage__text {
    display: inline-block;
    position: absolute;
    width: 297px;
    right: 134px;
    bottom: 21px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
}


//----------------------//
//----MEDIA-ЗАПРОСЫ-----//
//----------------------//

@media (min-width: 1441px) {
    .landingPage__container {
        padding-top: 140px;
        padding-bottom: 530px;
    }
    .landingPage__text {
        bottom: 6.7%;
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .landingPage__container{
        padding-top: 55px;
        padding-bottom: 286px;
    }
}

@media (max-width: 660px) {
    .landingPage__container{
        width: 100%;
        margin: 0 0;
        display: flex;
        justify-content: center;
        padding: 40px 2% 186px;
    }
}

@media (max-width: 550px) {
    .landingPage__container{
        padding: 30px 2% 100px;
    }
    .landingPage__roomSearchContainer {
        justify-content: center;
    }
    .landingPage__text {
        width: 90%;
        right: 10%;
    }
}
