body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.searchRoom__main {
    width: 100%;
}
.searchRoom__mainContainer {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px 140px 70px;
    background-color: #FFFFFF;
    margin-bottom: 1px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);   
}

.searchRoom__settingsContainer {
    height: 100%;
    width: 268px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.searchRoom__settingsItemContainer {
    width: 100%;
    margin-bottom: 30px;
    &:first-child {
       margin-bottom: 27px;
    }
    &:nth-child(4) {
        margin-bottom: 47px;
    }
    &:nth-last-child(3) {
        margin-bottom: 25px;
    }
    &:nth-last-child(2) {
        margin-bottom: 25px;
    }
    &:last-child {
        margin-bottom: 0px;
    }
}

.searchRoom__settingsContainer .dropdown__container {
    width: 266px;
}

.searchRoom__richCheckboContainerHeader , .searchRoom__checkboxContainerHeader {
    margin-bottom: 17px;
}

.searchRoom__checkboxItem, .searchRoom__richcheckboxItem {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.searchRoom__roomCardsContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
}


.searchRoom__roomPreviewCardsContainer {
    margin-top: 20px;
    margin-bottom: 19px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchRoom__roomCardsContainerHeader {
    width: 100%;
}

.searchRoom__roomPreviewCardsContainer .roomPreview__container {
    margin-bottom: 21px;
    margin-right: 12px;
    &:nth-child(3n) {
        margin-right: 0px;
    }
}

.searchRoom__paginationContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}


//----------------------//
//----MEDIA-ЗАПРОСЫ-----//
//----------------------//


@media (max-width: 1439px) {
    .searchRoom__roomPreviewCardsContainer {
        justify-content: space-evenly;
    }
    .searchRoom__roomPreviewCardsContainer .roomPreview__container {
        margin-right: 0px;
        &:nth-child(3n) {
            margin-right: 0px;
        }
    }
    .searchRoom__settingsContainer {
        margin-right: 6.81818181818%;
    }
}

@media (max-width: 1150px) {
    .searchRoom__roomPreviewCardsContainer {
        justify-content: center;
    }
    .searchRoom__roomPreviewCardsContainer .roomPreview__container {
        margin-right: 0px;
    }
    .searchRoom__roomCardsContainerHeader {
        text-align: center;
    }  
}

@media (max-width: 880px) {
    .searchRoom__mainContainer {
        padding: 30px 9.72222222222% 70px;
        justify-content: space-between;
    }
    .searchRoom__settingsContainer {
        margin-right: 15px;
    }
}

@media (max-width: 635px) {
    .searchRoom__mainContainer {
        flex-direction: column;
        align-items: center;
    }
    .searchRoom__settingsContainer {
        margin-right: 0px;
        margin-bottom: 15px;
    }
    
}