.signIn__mainContainer{
    width: 100%;
    padding: 163px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: url('/assets/img/image4.jpeg') no-repeat top center;
    background-size: 100% 100%;
}
.signIn__cardContainer {
    width: 100%;
    max-width: 380px;
    min-width: 270px;
}

//----------------------//
//----MEDIA-ЗАПРОСЫ-----//
//----------------------//


@media (max-width: 1440px){
    .signIn__mainContainer{
        background-size: cover;
    }
}
@media (max-width: 900px) {
    .signIn__mainContainer{
        padding: 103px 0px;
    }
}

@media (max-width: 660px) {
    .signIn__mainContainer{
        padding: 73px 0px;
    }
}
@media (max-width: 440px) {
    .signIn__mainContainer{
        padding: 33px 20px;
    }
}