@import "blocks/base_blocks/scss-basic/vars.scss";
@import "../node_modules/nouislider/distribute/nouislider.css";
@import "blocks/base_blocks/scss-basic/airDatepicker.scss";
@import "./fonts/webfonts/all.css";
@import "blocks/base_blocks/scss-basic/reset.scss";
@import "blocks/pages/ui-kit.scss";
@import "blocks/pages/landingPage.scss";
@import "blocks/pages/searchRoom.scss";
@import 'blocks/pages/roomDetails.scss';
@import "blocks/pages/registration.scss";
@import "blocks/pages/signIn.scss";
@import "blocks/base_blocks/scss-basic/fonts.scss";




h1, h2 {
    font-family: 'Quicksand', 'OpenSans', sans-serif;
    font-weight: bold;
    color: $main-header-color;
}

h3, p {
    font-family: 'Montserrat';
}

h1 {
    font-size: 24px;
    line-height: 30px;  
}

h2 {
    font-size: 19px;
}

h3 {
    color: $main-header-color;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

p {
    font-weight: normal;
    color: $main-text-color;
    font-size: 14px;
}

